{% if value.relativeSurcharge %}
    {% set productPrice = page.product.calculatedPrices.first.unitPrice %}
    {% if productPrice is null %}
        {% set productPrice = page.product.calculatedPrice.unitPrice %}
    {% endif %}

    {% if context.getTaxState() != 'gross' %}
        {% set productPrice = productPrice - page.product.calculatedTaxes.first.tax %}
    {% endif %}

    {% set valueSurcharge = (value.percentageSurcharge/100) * productPrice %}
{% else %}
    {% set valueSurcharge = value.getCalculatedPrice().totalPrice %}

{% endif %}

{% set notInRule = true %}
{% if value.prices.elements is not empty  %}
    {% if context %}
        {# get active rule ids #}
        {% set rulesIds = context.context.ruleIds %}
        {# it prices #}
        {% for priceSC in value.prices.elements %}
            {% set ruleId = priceSC.ruleId %}
            {# find price rule id in active rule ids #}
            {% if ruleId in rulesIds %}
                {% set notInRule = false %}
                {% set pricearray = priceSC.price.elements|first %}
                {% set priceCurrency = pricearray.gross|currency %}
                <div class="swag-customized-products-option__price-tag">
                    {{ priceCurrency }}{{ "general.star"|trans|sw_sanitize }}{{ "general.star"|trans|sw_sanitize }}
                </div>
            {% endif %}
        {% endfor %}
        {% if notInRule is not false %}
            {% if valueSurcharge is not null and valueSurcharge != 0 %}
                {% set valueSurchargeInfo = valueSurcharge|currency %}

                {% if brackets %}
                    {% set valueSurchargeInfo = '(+' ~ valueSurchargeInfo ~ ')' %}
                {% endif %}
            {% endif %}

            {% if valueSurchargeInfo is not null %}
                <div class="swag-customized-products-option__price-tag">
                    {{ valueSurchargeInfo }}{{ "general.star"|trans|sw_sanitize }}{{ "general.star"|trans|sw_sanitize }}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
        {% if valueSurcharge is not null and valueSurcharge != 0 %}
            {% set valueSurchargeInfo = valueSurcharge|currency %}

            {% if brackets %}
                {% set valueSurchargeInfo = '(+' ~ valueSurchargeInfo ~ ')' %}
            {% endif %}
        {% endif %}

        {% if valueSurchargeInfo is not null %}
            <div class="swag-customized-products-option__price-tag">
                {{ valueSurchargeInfo }}{{ "general.star"|trans|sw_sanitize }}{{ "general.star"|trans|sw_sanitize }}
            </div>
        {% endif %}
{% endif %}
